[submodule "parallel-hashmap"]
	path = third_party/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap
[submodule "drogon"]
	path = third_party/drogon
	url = https://github.com/an-tao/drogon
[submodule "third_party/xxHash"]
	path = third_party/xxHash
	url = https://github.com/Cyan4973/xxHash
